.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal__content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  animation: slideIn 0.5s;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-modal--close {
  cursor: pointer;
  width: 20px;
}

.button-modal--open {
  background: #eebc19;
  padding: 10px 20px;
}

.open-modal-btn:hover {
  background: #beb30e;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
