.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  transform: translateX(-100%);
}

.modal--active {
  opacity: 1;
  transform: translateX(0%);
}

.modal__content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  animation: slideIn 0.5s;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-modal--close {
  cursor: pointer;
  width: 20px;
}

.button-modal--open {
  background-color: #eebc19;
  padding: 10px 20px;
}

.button-modal--open:hover {
  background-color: #c59c15;
}

@keyframes slideIn {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
